$fontFamily-default: "helvetica neue LT", Arial, "Heiti SC", "Droid Sans Fallback";
$fontSize-default: 62.25%;
$background-default: #fff;
* {
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: $fontFamily-default;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
  font-size: $fontSize-default;
}

body {
  margin: 0 auto;
  background: #fff;
}

.clearfix:after {
  display: block;
  height: 0px;
  visibility: hidden;
  content: "";
  clear: both;
}

body, h1, h2, h3, h4, h5, h6, p, form, main {
  margin: 0;
}

/* line 10, ../sass/reset.scss */
ol, ul, input[type=checkbox] {
  margin: 0;
}

#gameView {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#progressLayer{
  position: absolute;
  background-color: #A0DCFC;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 300;
}
#gameTrips{
  width: 100%;
  position: absolute;
  font-size: 1.6rem;
  color:#4C6454;
  text-align: center;
  top:200px;
  font-weight: 700;
}
#progress{
  position: absolute;
  top:230px;
  left: 10%;
  height:24px;
  padding: 4px;
  border-radius: 5px;
  width: 80%;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}
.progress-bar{
  width: 0%;
  background-color:#E45E0D;;
  position: relative;
  height: 16px;
  border-radius: 4px;
};
#grade{
  position: absolute;

}
#left,#right{
  display: none;
  z-index: 200;
  position: absolute;
  width:60px;
  height:58px;
  bottom: 30px;
}
#left{
  left:30px;
  background: url(../../image/left.png) ;
  background-size: 100% auto;
}
#right{
  right:30px;
  background: url(../../image/right.png);
  background-size: 100% auto;
}

